# QCTO - Workplace Module

### Project Title: Vegetable Prices Data Analysis
#### Done By: Ntokozo Hadebe

© ExploreAI 2024

---

## Table of Contents

<a href=#BC> Background Context</a>

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Data Collection and Description</a>

<a href=#three>3. Loading Data </a>

<a href=#four>4. Data Cleaning and Filtering</a>

<a href=#five>5. Exploratory Data Analysis (EDA)</a>

<a href=#six>6. Modeling </a>

<a href=#seven>7. Evaluation and Validation</a>

<a href=#eight>8. Final Model</a>

<a href=#nine>9. Conclusion and Future Work</a>

<a href=#ten>10. References</a>

---
 <a id="BC"></a>
## **Background Context**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Introduce the project, outline its goals, and explain its significance.

The agricultural sector in India is vital to its economy, with vegetables holding particular significance due to their essential role in diets and economic livelihoods.

Understanding the fluctuations in vegetable prices is crucial for farmers, consumers, and policymakers alike, as these prices directly impact income, household budgets, and food security. Fluctuations in vegetable prices can also have broader implications on inflation rates and macroeconomic stability.

Through this project, we aim to explore the patterns behind vegetable price fluctuations, providing insights that can inform policies aimed at promoting agricultural sustainability, ensuring food affordability, and enhancing economic welfare across India

* **Details:** Include information about the problem domain, the specific questions or challenges the project aims to address, and any relevant background information that sets the stage for the work.

#### The analysis aims to address several key research questions pertaining to vegetable price dynamics:

- Identify patterns of seasonal variation in vegetable prices.
- Examine how seasonal trends affect pricing trends for different vegetable types.
- Identify trends and patterns in vegetable prices over time through exploratory data analysis.
- Explore seasonal variations in vegetable prices to understand their cyclical nature.
- Provide actionable insights for stakeholders in the agricultural industry to support decision-making processes, enhance market efficiency, and improve economic outcomes.

By addressing these research questions, the study aims to provide valuable insights into the determinants of vegetable prices and potential strategies to improve price stability in agricultural markets.



---

---
<a href=#one></a>
## **Importing Packages**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Set up the Python environment with necessary libraries and tools.
* **Details:** List and import all the Python packages that will be used throughout the project such as Pandas for data manipulation, Matplotlib/Seaborn for visualization, scikit-learn for modeling, etc.
---

In [1]:
#Please use code cells to code in and do not forget to comment your code.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

---
<a href=#two></a>
## **Data Collection and Description**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Describe how the data was collected and provide an overview of its characteristics.
* **Details:** Mention sources of the data, the methods used for collection (e.g., APIs, web scraping, datasets from repositories), and a general description of the dataset including size, scope, and types of data available (e.g., numerical, categorical).
---

### Dataset overview
- The dataset used for this analysis was sourced from Kaggle on May 7, 2024. It originated from an authorized source, the Agricultural Marketing Information Network (AGMARKNET), available at https://agmarknet.gov.in/.

- It offers a comprehensive overview of vegetable prices across various regio and regions in Indians, making it a valuable resource for researchers, analysts, and enthusiasts interested in studying pricing dynamics. The dataset contains information on a diverse array of vegetables, providing detailed price records over time.

- Attributes included in the dataset comprise vegetable types, price data, and time periods covered, allowing for a thorough exploration of pricing trends and patterns. Prior to analysis, data cleaning and preprocessing steps were undertaken to ensure data quality and integrity. These steps can be observed in the Data Cleaning section below.

#### Datatypes:

- Price Dates is of 'object' datatype.
- The vegetable price datatypes is in numerical type.
- There are inconsistencies in the vegetable price datatypes, with some vegetables being of 'integer' datatype, whilst - - others are of 'float' datatype.


- The dataset consists of 287 observations (rows) and 11 features (columns)

---
<a href=#three></a>
## **Loading Data**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Load the data into the notebook for manipulation and analysis.
* **Details:** Show the code used to load the data and display the first few rows to give a sense of what the raw data looks like.
---

The data used for this project is located in the prices.csv file. This file is loaded into a Pandas DataFrame (called df) using the pd.read_csv() function. This function reads the CSV file and converts it into a DataFrame for further manipulation and analysis

In [2]:
# loading the dataset
df = pd.read_csv('prices.csv')

# making the copy of dataset 
df_copy = df.copy()

# displaying the firt few rows of the Dataframe
df_copy.head()

,Price Dates,Bhindi (Ladies finger),Tomato,Onion,Potato,Brinjal,Garlic,Peas,Methi,Green Chilli,Elephant Yam (Suran)
0,01-01-2023,35.0,18,22.0,20,30,50,25,8,45.0,25
1,02-01-2023,35.0,16,22.0,20,30,55,25,7,40.0,25
2,03-01-2023,35.0,16,21.0,20,30,55,25,7,40.0,25
3,04-01-2023,30.0,16,21.0,22,25,55,25,7,40.0,25
4,08-01-2023,35.0,16,20.0,21,25,55,22,6,35.0,25

---
<a href=#four></a>
## **Data Cleaning and Filtering**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Prepare the data for analysis by cleaning and filtering.
* **Details:** Include steps for handling missing values, removing outliers, correcting errors, and possibly reducing the data (filtering based on certain criteria or features).
---

#### Renaming Columns

- The rename_columns function serves to standardize column names in a DataFrame according to PEP 8 principles, ensuring consistency and readability within the dataset and simplifying downstream data analysis and visualisation tasks. The function defines a dictionary called 'renamed_columns' that maps each column by name to its standardised name - with all lowercase and spaces replaced by underscores. It then renames each column in the DataFrame by making use of the .rename() method in combination with the 'rename_columns' dictionary.

In [3]:
def rename_columns(df):
    """
    Rename columns of a DataFrame according to PEP 8 principles, by converting column names to lowercase and replacing spaces or
        special characters with underscores..

    Args:
        df (pandas.DataFrame): Input DataFrame with columns to be renamed.

    Returns:
        pandas.DataFrame: DataFrame with columns renamed according to PEP 8.
    """
    # dictionary mapping column names to standardised names
    renamed_columns = {
        'Price Dates': 'price_dates',
        'Bhindi (Ladies finger)': 'bhindi',
        'Tomato': 'tomato',
        'Onion': 'onion',
        'Potato': 'potato',
        'Brinjal': 'brinjal',
        'Garlic': 'garlic',
        'Peas': 'peas',
        'Methi': 'methi',
        'Green Chilli': 'green_chilli',
        'Elephant Yam (Suran)': 'elephant_yam'
    }
    return df.rename(columns=renamed_columns)

# Rename columns
df_copy = rename_columns(df_copy)

#### Converting Data Types

- The convert_data_types function transforms the data types of specific columns in the DataFrame for consistency and accuracy:

1. It converts integer columns (representing vegetable prices) to floats using .astype(float) to ensure compatibility and facilitate numerical operations.
2. It converts the 'price_dates' column to datetime using .to_datetime() with format='%d-%m-%Y' for accurate time-based analysis.

This improves data integrity and reduces errors in further analysis.

In [4]:
def convert_data_types(df):
    """
    Convert data types of columns within a DataFrame.

    This function converts integer columns to float. 
    Additionally, it standardizes the format of the 'price_dates' column to datetime objects with the format "%d-%m-%Y".

    Args:
        df (pandas.DataFrame): Input DataFrame with columns to be converted.

    Returns:
        pandas.DataFrame: DataFrame with data types converted as specified.
    """
    # Convert integer columns to float
    int_columns = df.select_dtypes(include='int64').columns
    df[int_columns] = df[int_columns].astype(float)
    
    # Convert 'price_dates' column to datetime with correct format
    df['price_dates'] = pd.to_datetime(df['price_dates'], format='%d-%m-%Y')
    
    return df

# Convert data types
df_copy = convert_data_types(df_copy)

#### Checking for Missing Values

The check_missing_values function serves as a utility to quickly identify and report any null values present in each column of a DataFrame. By iterating through each column and using the .isnull() and .sum() methods, it calculates the count of null values in each column. The function then prints out the count of null values alongside the corresponding column name, providing a clear overview of the null value distribution within the DataFrame.

In [5]:

#Handle missing values
def check_missing_values(df):
    """check for null values in each column of a Dataframe and print the count of null values, 
    along with column-specific null parameters
    """
    print(f'Null values count for each column: ')
    print('---------------------------------------------')

    for col in df.columns:
        null_count = df_copy[col].isnull().sum()
        print(f'{col}: {null_count}')

check_missing_values(df_copy)

Null values count for each column:
---------------------------------------------
price_dates: 0
bhindi: 0
tomato: 0
onion: 0
potato: 0
brinjal: 0
garlic: 0
peas: 0
methi: 0
green_chilli: 0
elephant_yam: 0

#### Result:

 This result confirms that there are no missing values identified in the DataFrame.

#### Check for Duplicate Rows

- The count_dupl_rows function identifies and counts duplicate rows in the dataset using .duplicated().sum(). It helps ensure data quality by detecting and guiding the removal of redundant rows, improving the accuracy of analysis.

In [6]:
# Count the number of duplicate rows in a pandas DataFrame.
def count_dupl_rows(df):
    duplicates = df.duplicated().sum()
    return duplicates

print(f'Number of duplicate rows {count_dupl_rows(df_copy)}')

Number of duplicate rows 0

#### Check for Duplicate Date

- We also need to check for duplicate dates in the 'price_dates' column to make sure there’s only one price for each date.
- The count_duplicate_dates function will count how many duplicate dates exist in this column, helping to ensure accurate time-based analysis.

In [7]:
def count_duplicate_dates(df):
    duplicates = df.duplicated(subset=['price_dates']).sum()
    return duplicates
print(f'The number of duplicate dates: {count_duplicate_dates(df_copy)}')

The number of duplicate dates: 0

#### Identifying Potential Outliers

- The check_outliers function identifies outliers in vegetable prices using descriptive statistics. It calculates the mean, median, standard deviation, and interquartile range (IQR) for each float column in the DataFrame. Values outside the IQR range are flagged as potential outliers. The function returns a DataFrame showing the outliers, their count, and relevant statistics like mean and standard deviation for comparison.

In [8]:
# Identify potential outliers in float columns of a DataFrame using descriptive statistics
def check_outliers(df):
    
    outliers = []
    for col in df.select_dtypes(include='float64').columns:
    # Calculate descriptive statistics for the current column
        desc_stats = df[col].describe()
        mean = desc_stats['mean']  # Mean value of the column
        std_dev = desc_stats['std']  # Standard deviation of the column
        q1 = desc_stats['25%']  # First quartile (25th percentile) of the column
        q3 = desc_stats['75%']  # Third quartile (75th percentile) of the column
        iqr = q3 - q1  # Interquartile range (IQR) of the column
        lower_bound = q1 - 1.5 * iqr  # Lower bound for potential outliers
        upper_bound = q3 + 1.5 * iqr  # Upper bound for potential outliers

        # Identify potential outliers in the current column
        potential_outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)][col].tolist()

        # Calculate the count of outliers
        outlier_count = len(potential_outliers)

        # Create a DataFrame to store the results
        results = pd.DataFrame({
            'Column': [col],
            'Count of Outliers': [outlier_count],
            'Mean': [mean],
            'Standard Deviation': [std_dev],
            'Potential Outliers': [potential_outliers]
        })
        
        # Append the results DataFrame to the list
        outliers.append(results)

    # Concatenate the results DataFrames into a single DataFrame
    outliers_df = pd.concat(outliers, ignore_index=True)
    return outliers_df

# Set the display options to show the entire content of the 'Potential Outliers' column
pd.set_option('display.max_colwidth', None)

# Identify potential outliers
outliers = check_outliers(df_copy)
outliers

,Column,Count of Outliers,Mean,Standard Deviation,Potential Outliers
0,bhindi,7,29.444251,8.124815,"[60.0, 50.0, 50.0, 50.0, 50.0, 50.0, 55.0]"
1,tomato,1,16.006969,0.118056,[18.0]
2,onion,24,20.649826,11.711204,"[45.0, 57.0, 55.0, 54.0, 54.0, 50.0, 50.0, 47.0, 50.0, 50.0, 47.0, 45.0, 46.0, 46.0, 45.0, 45.0, 46.0, 50.0, 47.0, 46.0, 47.0, 48.0, 46.0, 48.0]"
3,potato,0,18.585366,2.726238,[]
4,brinjal,13,31.655052,11.725421,"[60.0, 70.0, 70.0, 60.0, 60.0, 70.0, 60.0, 70.0, 80.0, 70.0, 70.0, 80.0, 60.0]"
5,garlic,1,133.101045,60.078331,[290.0]
6,peas,5,66.658537,33.302415,"[150.0, 150.0, 150.0, 150.0, 150.0]"
7,methi,10,20.383275,117.428417,"[2000.0, 30.0, 30.0, 35.0, 35.0, 30.0, 30.0, 30.0, 30.0, 30.0]"
8,green_chilli,12,44.122404,12.796590,"[0.13, 80.0, 90.0, 80.0, 90.0, 80.0, 80.0, 75.0, 90.0, 80.0, 80.0, 80.0]"
9,elephant_yam,50,28.797909,6.607973,"[15.0, 15.0, 15.0, 40.0, 12.0, 40.0, 40.0, 40.0, 40.0, 15.0, 15.0, 15.0, 50.0, 15.0, 15.0, 12.0, 12.0, 40.0, 40.0, 50.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 45.0, 40.0, 40.0, 40.0, 40.0, 40.0, 50.0, 40.0, 50.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0]"

#### Results:

Most potential outliers are clustered around values above or below the mean, suggesting seasonality as a factor. To explore this, we'll extract the month from the 'price_date' column and group vegetable prices by month. A time series plot will visualize this trend in the Exploratory Data Analysis.

However, two extreme outliers likely indicate errors:

- 'Methi' has an outlier at 2000.0, much higher than the mean.
- 'Green Chilli' has an outlier at 0.13, much lower than the mean.

These extreme outliers will be replaced by the mean of the 15 preceding and 15 following observations to account for seasonality.

#### Replacing Erroneous Outliers

In [9]:
def replace_erroneous_outliers(df, column, outlier_values):
    """
    Replace outliers in a DataFrame column with the mean of the 30 surrounding observations.

    Parameters:
    - df (pandas.DataFrame): The DataFrame containing the outliers.
    - column (str): The name of the column with outliers.
    - outlier_values (list): List of outlier values to replace.

    Returns:
    - pandas.DataFrame: The DataFrame with outliers replaced.
    
    Note: Assumes the DataFrame is sorted chronologically.
    """
    for outlier in outlier_values:
        outlier_index = df.index[df[column] == outlier].tolist()[0]
        lower_bound = max(outlier_index - 15, 0)
        upper_bound = min(outlier_index + 15, len(df) - 1)

        # Calculate the mean of the 30 surrounding values
        mean_surrounding = df.loc[lower_bound:upper_bound, column].mean()

        # Replace the outlier
        df.at[outlier_index, column] = mean_surrounding

    return df

# Replace the identified outliers:
df_copy = replace_erroneous_outliers(df_copy, 'methi', [2000.0])
df_copy = replace_erroneous_outliers(df_copy, 'green_chilli', [0.13])

#### Extracting Month to Explore Possible Seasonality

The extract_month function extracts the month from a datetime column in a DataFrame and stores it in a new column. This is useful for time-series analysis to identify seasonal trends. It uses dt.strftime('%m-%Y') to format the date and creates a new column, 'price_months', for easier grouping, visualization, and analysis based on monthly patterns.

In [10]:
#Extract month from a datetime column and create a new column to store the month values.

def extract_month(df, date_colummn):

    df['price_months'] = df[date_colummn].dt.strftime('%m-%Y')
        
    return df

    # Extract the month:
df_copy = extract_month(df_copy, 'price_dates')
df_copy.head()

,price_dates,bhindi,tomato,onion,potato,brinjal,garlic,peas,methi,green_chilli,elephant_yam,price_months
0,2023-01-01,35.0,18.0,22.0,20.0,30.0,50.0,25.0,8.0,45.0,25.0,01-2023
1,2023-01-02,35.0,16.0,22.0,20.0,30.0,55.0,25.0,7.0,40.0,25.0,01-2023
2,2023-01-03,35.0,16.0,21.0,20.0,30.0,55.0,25.0,7.0,40.0,25.0,01-2023
3,2023-01-04,30.0,16.0,21.0,22.0,25.0,55.0,25.0,7.0,40.0,25.0,01-2023
4,2023-01-08,35.0,16.0,20.0,21.0,25.0,55.0,22.0,6.0,35.0,25.0,01-2023

## Data Pre-Processing 

#### Data Normalization/Standardization:

- Normalizing or standardizing numeric columns to bring all features into the same scale, which can be especially useful for machine learning models.

In [11]:
def normalize_columns(df, columns):
    scaler = StandardScaler()
    df[columns] = scaler.fit_transform(df[columns])
    return df

# Normalize numeric columns
numeric_columns = ['bhindi', 'tomato', 'onion', 'potato', 'brinjal', 'garlic', 'peas', 'methi', 'green_chilli', 'elephant_yam']
df_copy = normalize_columns(df_copy, numeric_columns)

In [18]:
df_copy.head()

,price_dates,bhindi,tomato,onion,potato,brinjal,garlic,peas,methi,green_chilli,elephant_yam,price_months
0,2023-01-01,0.684995,16.911535,0.115490,0.519802,-0.141397,-1.385628,-1.253101,-0.772110,0.059296,-0.57575,01-2023
1,2023-01-02,0.684995,-0.059131,0.115490,0.519802,-0.141397,-1.302258,-1.253101,-0.907725,-0.340374,-0.57575,01-2023
2,2023-01-03,0.684995,-0.059131,0.029953,0.519802,-0.141397,-1.302258,-1.253101,-0.907725,-0.340374,-0.57575,01-2023
3,2023-01-04,0.068521,-0.059131,0.029953,1.254696,-0.568566,-1.302258,-1.253101,-0.907725,-0.340374,-0.57575,01-2023
4,2023-01-08,0.684995,-0.059131,-0.055584,0.887249,-0.568566,-1.302258,-1.343342,-1.043340,-0.740044,-0.57575,01-2023

---
<a href=#five></a>
## **Exploratory Data Analysis (EDA)**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Explore and visualize the data to uncover patterns, trends, and relationships.
* **Details:** Use statistics and visualizations to explore the data. This may include histograms, box plots, scatter plots, and correlation matrices. Discuss any significant findings.
---

In [19]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#six></a>
## **Modeling**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Develop and train predictive or statistical models.
* **Details:** Describe the choice of models, feature selection and engineering processes, and show how the models are trained. Include code for setting up the models and explanations of the model parameters.
---

In [13]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#seven></a>
## **Evaluation and Validation**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Evaluate and validate the effectiveness and accuracy of the models.
* **Details:** Present metrics used to evaluate the models, such as accuracy, precision, recall, F1-score, etc. Discuss validation techniques employed, such as cross-validation or train/test split.
---

In [14]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#eight></a>
## **Final Model**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Present the final model and its performance.
* **Details:** Highlight the best-performing model and discuss its configuration, performance, and why it was chosen over others.
---

In [15]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#nine></a>
## **Conclusion and Future Work**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Summarize the findings and discuss future directions.
* **Details:** Conclude with a summary of the results, insights gained, limitations of the study, and suggestions for future projects or improvements in methodology or data collection.
---

In [16]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#ten></a>
## **References**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Provide citations and sources of external content.
* **Details:** List all the references and sources consulted during the project, including data sources, research papers, and documentation for tools and libraries used.
---

In [17]:
#Please use code cells to code in and do not forget to comment your code.

## Additional Sections to Consider

* ### Appendix: 
For any additional code, detailed tables, or extended data visualizations that are supplementary to the main content.

* ### Contributors: 
If this is a group project, list the contributors and their roles or contributions to the project.